.task-list {
  margin-bottom: 10px;
opacity: 0.7;
  &__title {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: #fd8f8f;
    input {
      background-color: transparent;
    }
    h4 {
      margin-left: 20px;
      font-weight: 700;
      font-size: 18px;
    }
  }
  &__btn{
   margin-left: auto;
    
  }
  &__edit{
    background-color: transparent;
    // &:hover{
    //     background-color: rgb(224, 85, 85) ;
    //     border-radius: 30%;
    // }
  }
  &__delete{
    margin-left: 10px;
    background-color: transparent;
  }
  &__description {
    padding: 20px 15px 20px 48px;
    border: 2px solid black;
    border-radius:  0px 0px 10px 10px;
    background-color: #a89b6e;
    border-top: 0px ;
    font-size: 14px;
    line-height:23px;
    letter-spacing: .1rem;
    word-break:break-all;
  }
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0);
  background: white;
  vertical-align: middle;
  margin-right: 20px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;

  i.icon {
    opacity: 0.7;
    color: transparent;
    transition: opacity 0.3s 0.1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
  }

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.26);
  }
}

.label__checkbox:checked + .label__text .label__check {
  animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon 0.3s cubic-bezier(1.0, 0.008, 0.565, 1.65) 0.1s 1 forwards;
  }
}


@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}